/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3     &kp N4          &kp N5                          &kp N6   &kp N7    &kp N8     &kp N9   &kp N0    &kp EQUAL
&kp TAB    &kp Q   &kp W   &kp E      &kp R           &kp T                           &kp Y    &kp U     &kp I      &kp O    &kp P     &kp MINUS
&mo 3      &kp A   &kp S   &kp D      &kp F           &kp G                &mkp LCLK  &kp H    &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp GRAVE  &kp Z   &kp X   &kp C      &kp V           &kp B     &mkp RCLK             &kp N    &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                           &kp LSHFT  &kp SPACE       &kp BSPC                        &kp DEL  &kp RET   &kp RGUI
                           &kp LCTRL  &kp SCROLLLOCK  &tog 2                          &mo 1    &kp RALT
            >;

            sensor-bindings =
                <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>,
                <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        Bluetooth {
            bindings = <
&kp ESC  &bt BT_SEL 0   &bt BT_SEL 1    &bt BT_SEL 2      &bt BT_SEL 3   &bt BT_SEL 4                         &kp KP_EQUAL  &kp N7         &kp N8    &kp N9        &kp PLUS    &kp MINUS
&kp TAB  &bt BT_DISC 0  &bt BT_DISC 1   &bt BT_DISC 2     &bt BT_DISC 3  &bt BT_DISC 4                        &trans        &kp N4         &kp N5    &kp N6        &kp STAR    &kp FSLH
&trans   &bt BT_CLR     &bt BT_CLR_ALL  &bt BT_NXT        &bt BT_PRV     &trans                    &mkp LCLK  &trans        &kp N1         &kp N2    &kp N3        &kp DOLLAR  &kp PERCENT
&trans   &trans         &trans          &trans            &trans         &trans         &mkp LCLK             &trans        &kp N0         &kp DOT   &kp KP_COMMA  &kp ENTER   &kp TAB
                                        &kp LSHFT         &kp SPACE      &kp BACKSPACE                        &kp DELETE    &kp ENTER      &kp RGUI
                                        &kp LEFT_CONTROL  &kp LEFT_ALT   &tog 0                               &tog 0        &kp RIGHT_ALT
            >;

            sensor-bindings =
                <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>,
                <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        Numpad {
            bindings = <
&none  &none  &none  &none      &none      &none                           &kp LEFT_PARENTHESIS   &kp N7        &kp N8    &kp N9     &kp PLUS    &kp MINUS
&none  &none  &none  &none      &none      &none                           &kp RIGHT_PARENTHESIS  &kp N4        &kp N5    &kp N6     &kp STAR    &kp FSLH
&none  &none  &none  &none      &none      &none                &mkp LCLK  &kp LEFT_BRACKET       &kp N1        &kp N2    &kp N3     &kp DOLLAR  &kp PERCENT
&none  &none  &none  &none      &none      &none     &mkp RCLK             &kp RIGHT_BRACKET      &kp N0        &kp DOT   &kp COMMA  &kp RET     &kp TAB
                     &kp LSHFT  &kp SPACE  &kp BSPC                        &kp DEL                &kp RET       &kp LGUI
                     &none      &none      &tog 0                          &kp LEFT_CONTROL       &kp LEFT_ALT
            >;

            sensor-bindings =
                <&inc_dec_kp LEFT RIGHT>,
                <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        Scroll {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3     &kp N4     &kp N5                          &kp N6   &kp N7    &kp N8     &kp N9   &kp N0    &kp EQUAL
&kp TAB    &kp Q   &kp W   &kp E      &kp R      &kp T                           &kp Y    &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp LSHFT  &kp A   &kp S   &kp D      &kp F      &kp G                &mkp LCLK  &kp H    &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp GRAVE  &kp Z   &kp X   &kp C      &kp V      &kp B     &mkp RCLK             &kp N    &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                           &kp LSHFT  &kp SPACE  &kp BSPC                        &kp DEL  &kp RET   &kp RGUI
                           &kp LCTRL  &tog 0     &tog 2                          &mo 1    &kp RALT
            >;

            sensor-bindings =
                <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>,
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
